.hero {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;


    &__wrapper {
        display: flex;
        flex-direction: column;
    }

    &__title {
        font-size:70px;
        font-weight: 900;
        color: rgb(141, 219, 25);
        
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
        text-transform: uppercase;       
    }

    &__logo {
        width: 400px;
    }

    &__subtitle {
        font-size: 24px;
        font-weight: 400;
    }

    &__button {
        width: 200px;
        margin-top: 35px;
        padding: 10px 10px;
        background-color: rgb(255, 255, 251);
        cursor: pointer;
        border: 1px solid black;
        border-radius: 3px;
        &:hover {
            background-color: rgb(188, 248, 170);
            border: 1px solid rgb(255, 255, 251);
        }
    }
}