.hero {
   display: flex;
   flex-direction: column;
 
    &__wrapper {
        display: flex;
        gap: 20px;
    }

    &__title {
        font-size:70px;
        font-weight: 900;
        color: greenyellow;
        background-color: green;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
        text-transform: uppercase;
    }

    &__logo {
        width: 60px;
    }

    &__subtitle {
        font-size: 24px;
        font-weight: 400;
  
    }

    &__button {
        width: 200px;
        margin-top: 35px;
        padding: 5px 10px;
    }
}