@use '../../scss/variable.scss' as *;

.app {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.app-ctatic {
    width: min(1180px, calc(100% - 40px));
    min-height: 100vh;
    margin: 0 auto;
}

@media (max-width: 640px) {
    .app-ctatic {
        width: min(100% - 24px, 1180px);
    }
}
