@use '../../scss/variable.scss' as *;

.chromo {
    position: relative;
    margin: 0 auto;
    padding: 40px;
    width: 100vw;
    height: 100vh;
}

.blue {
    background-color: $color-blue;
}
.green {
    background-color: $color-green;
}
