.marker-cross {
    position: absolute;
    width: 70px;
    height: 70px;
    cursor: pointer;

    &::before,
    &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 12px;
        background: #ffffff;
    }

    &::before {
        transform: rotate(90deg);
    }

    &::after {
        transform: rotate(-180deg);
    }
}

.marker-cross {
    &.first {
        top: 60px;
        left: 60px;
    }
    &.second {
        top: 60px;
        right: 60px;
    }
    &.third {
        bottom: 60px;
        left: 60px;
    }
    &.fourth {
        bottom: 60px;
        right: 60px;
    }
}
