@use '../../scss/variable.scss' as *;

.nav {
    display: flex;
    justify-content: right;

    &__list {
        display: flex;
        gap: 40px;
        margin-top: 20px;
        list-style-type: none;
        &-item {


            & > .link {
                padding: 5px;
                font-size: 20px;
                font-weight: 500;
                text-decoration: none;
                color: black;
                
            }
        }
    }


}

.active {
    
   
    background-color: rgba($color: #10bb16, $alpha: 0.5)
}