@import '../../scss/variable.scss';

.nav {
    display: flex;
    justify-content: right;

    &__list {
        display: flex;
        gap: 40px;
        margin-top: 20px;
        list-style-type: none;
        &-item {


            & > .link {
                font-size: 20px;
                font-weight: 500;
                text-decoration: none;
                color: black;
                &:hover {
                    color: $color-green;
                }
            }
        }
    }


}