@use '../../scss/variable.scss' as *;

.nav {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__github {
        width: 30px;
    }

    &__list {
        display: flex;
        gap: 40px;
        list-style-type: none;
        &-item {

            & > .link {
                padding: 5px;
                font-size: 20px;
                font-weight: 500;
                text-decoration: none;
                color: black;
            }
        }
    }


}

.active {
    
   
    background-color: rgba($color: #10bb16, $alpha: 0.5)
}